<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <extensions>
        <add assembly="TCGPocketAutomation" />
    </extensions>

    <targets>
        <target name="Console" xsi:type="Console" />
        <target name="Discord" xsi:type="Discord" />
        <target name="File" xsi:type="File" fileName="log.txt" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="Console" />
        <logger name="*" minlevel="Info" writeTo="Discord" />
        <logger name="*" minlevel="Debug" writeTo="File" />
    </rules>
</nlog>
